.user-list h2 {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 1rem 0;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgb(122, 120, 120);
}

.users-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}


